- content_for :title, t(:welcome).mb_chars.capitalize

#last-publication
  .row
    = image_tag "last_publication_text.png", id: "last-publication-text"
    - if @publication
      = render "publications/publication", publication: @publication
      = link_to t(:all_publications).mb_chars.capitalize, publications_path, id: "view-all-publications"