@import "config";
@import "foundation_and_overrides";

body {
  background-color: $dark-gray;
  color: $white;

  .row {
    // Set the width of the page, no support for small screen for now.
    width: $row-width;
  }

  a {
    color: inherit;
  }

  header#page-header {
    background-image: url(image_path('gray_pattern.jpg'));
    padding: 2em;
    text-align: center;

    #logo_vds {
      height: 6em;
    }
  }

  #binding-publication {
    background-image: url(asset_path('binding_publication.jpg'));
    height: 60px;
    width: 100%;
  }

  footer#page-footer {
    background-image: url(image_path('footer_pattern.jpg'));
    padding: 2em;
    text-align: center;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;

    img {
      height: 4em;
      padding: 0 1em;
    }
  }
}

.small-text {
  font-size: 0.8em;
}